@model Metro.ViewModels.HumanViewModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-admin">

    <div class="container body-content">

        <div>
            @Html.ActionLink("New Human", "CreateHuman", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        </div>
        
        <div>
            @Html.ActionLink("New Position", "CreatePosition", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        </div>
        
        <div>
            @Html.ActionLink("New Weapon", "CreateWeapon", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        </div>
        
        <div>
            @Html.ActionLink("New Station", "CreateStation", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        </div>

    </div>
</div>





