
@{
    ViewBag.Title = "Geography";
}


<title>Географія червоної лінії</title>

<section class="section" id="about">
    <div class="container">
        <div class="section_header">
            <h2 class="section_title">Географія червоної лінії</h2>
            <h3 class="section_suptitle">Опис</h3>

            <div class="section_text">
                <p>
                    З огляду на загальну кількість станції, на момент вересня 2035 року до складу Червоної Лінії входить 17 станцій: Комуністична, Фрунзенська, Парк Культури-радіальна, Кропоткинська, Проспект Маркса, Площа Революції, Дзержинська, Кіровська, Червоні Ворота, Комсомольська-радіальна, Красносільська, Сталінська, прапор Революції, Черкізовському і Бульвар Рокоссовського. У вересні 2035 року було приєднано Театральна та Кузнецький Міст. Червоні також контролюють охотнорядскі ССВ, що дозволяє проводити раптові рейди проти сусідів. В'їзд на територію Червоної Лінії видається дещо складніше, ніж на тій же Ганзі, через строгі правил, встановлені керуючими.
                </p>
                <div class="section_line">Столиця</div>
                <p>
                    Станція Площа Революції розташована на Арбатсько-Покровської (синій) лінії. Колись, ще в далекі двадцяті роки, «Площа Революції» історично входила до складу могутньої Арбатській Конфедерації і була її східним кордоном. Однак на момент липня 2023 року комуністи, які посіли більшу частину Сокольницької лінії, захотіли отримати таку вигідну по розташуванню і історичним значенням станцію, адже вже її назва говорила багато про що. Ще однією причиною жадання червоними станції була її близькість до Червоної площі, а значить, близькість до мавзолею, де за чутками все ще покоїлося тіло вождя Володимира Ілліча Леніна. Коли почалася війна між основними протиборчими угрупуваннями - Червоної Лінією, Арбатською Конфедерацією і Ганзою - співдружності на Кільцевій лінії, Площа Революції перетворилася на неприступну фортецю: бій за неї йшов з перемінним успіхом, комуністи то захоплювали станцію, то втрачали її. В остаточному підсумку, коли війна попсувала всіх супротивників, сторони почали мирний обмін станціями, в ході якого напівзруйнована вже в ході численних кидків Площа Революції повноправно перейшла в руки союзу соціалістичних станцій. На момент 2033 року, станція постає однією з найбезпечніших на Червоній Лінії. Проїзд через Площа Революції був відкритий для всіх бажаючих.
                </p>
                <div class="section_line">Карта</div>


            </div>
        </div>
        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Geography.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Geography.jpg")">
                    </a>
                </div>
                <div class="about_text">Карта метро</div>
            </div>


        </div>
        <div class="section_line">Площа Революції</div>

        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Gallery/Revolution_Square.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Gallery/Revolution_Square.jpg")">
                    </a>
                </div>
                <div class="about_text">Площа Революції</div>
            </div>


        </div>
    </div>
</section>
